
.button a{
    text-decoration: none;
    color: #d7dbde;
    font-size: 16px;
    /*line-height: 30px;*/
    /*font-weight: bold;*/
    background-color: #2f3a3d;
    display: inline-block; /* тоже самое что и float */
    padding: 10px 20px;
}
.button a:hover{
    background-color: #3f4a4d;
    color: #d7dbde;
}
.button__order-now a:after {

    height: 0px;
    width: 0%;
}
.button__login a{
    margin-right: -35px;
    color: #2f3a3d;
    background-color: #efefe2;
    border: 1px solid #707070;
    font-size: 15px;
    font-weight: 700;

}
.button__login a:hover{
    background-color: #efefe2;
    color: #ee9da8;
}
a img{
    margin-right: 15px;
}

