.content{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 225px;

}
.content img{

    flex-basis: 30%;
    display: block;
    margin-right: 100px;
    margin-left: -180px;

}
.content__title{
    flex-basis: 70% ;
}
.content__blocks{

    display: flex;
    max-width: 1920px;
    justify-content: space-between;
    /*flex-wrap: wrap;*/

}
.block{
    flex-basis: 26%;
    text-align: left;
    margin-top: 30px;

}
.content__title h1 {
    font-size: 62px;
    font-weight: 700;
    letter-spacing: 1.24px ;
    color: #d0ca9e;
}

.content__title h2 {
    font-size: 26px;
    font-weight: 900;
    display: block;
    text-decoration:none;
    position:relative;
}
.title_1{
    margin-bottom: 32px;
}
.content__title h2:before, .content__title h2:after {
    display: block;
    content: "";
    background-color: #cbcbc3;
    height: 1px;
    width: 100vw;
    position:absolute;
    transform:translateX(-50%);
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 1s; /* Задержка перед началом */
}

@keyframes show{
    0%{
        opacity:0;
    }


    100% {
        opacity:1;
    }
}

.block p{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;

}
@media (max-width: 1366px) {
    .content img {
        margin-left: -104px;
        margin-right: 60px;
    }
    .content img {

        flex-basis: 29%;
    }
    .block {
        flex-basis: 24%;
    }
    .content__title{
        flex-basis: 68% ;
    }

    .content__blocks{
        margin: 0 auto;
    }

    }
@media (max-width: 1320px){
    .title_1 {
        margin-bottom: 0;
    }
}
@media (max-width: 1320px){
    .content img{
        flex-basis: 25%;
    }
    .content__title{
        flex-basis: 65% ;
    }

}

@media (max-width: 1166px){
    .content img{
        flex-basis: 25%;
    }
    .content__title{
        flex-basis: 55% ;
    }
    .content__title h1 {
        font-size: 52px;
    }
    .content__title h2 {
        font-size: 20px;
    }

}
@media (max-width: 940px){
    .content__blocks {
        display: block;
    }
    .content img{
        flex-basis: 100%;
    }
    .content__title{
        flex-basis: 100% ;
    }
    .content img{

        flex-basis: 100%;
        display: block;
        margin: 0 auto;
        /*margin-right: 100px;*/
        /*margin-left: -180px;*/

    }
    /*.content__title h1 {*/
        /*font-size: 52px;*/
    /*}*/
    /*.content__title h2 {*/
        /*font-size: 20px;*/
    /*}*/

}

@media (max-width: 320px) {

    header {
    padding: 15px 0;
    }
    .content{
        padding-bottom: 75px;
    }
    .content img{
        width: 285px;
        height: 218px;
        margin-left: -10px;
        margin-right: 15px;
        margin-bottom: 45px;
    }
    .content__title h1 {
        font-size: 32px;
    }
    .content__title{
        flex-basis: 100% ;
    }
    .content__blocks{
        display: block;
        flex-wrap: wrap;
    }
    .block{
        flex-basis: 100% ;
    }
    .block p {
        margin-top: 30px;
        margin-bottom: 80px;
    }

}